.app-bg {
  background: linear-gradient(0deg, rgba(0,0,0, 0.2),rgba(0,0,0, 0.3)), url(./bg.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 45%;
  margin-top: 7%;
}
.side-bg {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.heading h2{
  color: white;
  margin-top: 2.5%;
  margin-left: 22%;
  position: absolute;
  font-size: 2.7rem;
}

.footer{
  color: rgb(240, 240, 240);
  text-align: center;
  font-size: 1.5rem;
}